# Kaggle Tabular dataset competitions

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [7]:
# read in data from train and test csv files
train_labels = pd.read_csv('train_labels.csv')
#print out the first 5 rows of the train_labels dataframe
train_labels

          id  label
0          0      0
1          1      1
2          2      1
3          3      1
4          4      0
...      ...    ...
19995  19995      1
19996  19996      1
19997  19997      0
19998  19998      0
19999  19999      1

[20000 rows x 2 columns]

In [6]:
# read in all files in folder submission files as dataframes:
!which python3

/usr/local/bin/./python3